@import "tailwindcss";

@font-face {
  font-family: "Light";
  src: url("/fonts/light.ttf");
}

@font-face {
  font-family: "Classic";
  src: url("/fonts/classic.ttf");
}
@font-face {
  font-family: "ClassicBold";
  src: url("/fonts/classicBold.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.ttf");
}

@font-face {
  font-family: "Black";
  src: url("/fonts/black.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.ttf");
}

@theme {
  --color-primary: #52C835;
  --color-secondary: #327821;
  --color-background: #131315;
  --color-backgroundsecondary: #1D1D1F;
  --color-backgroundthird: #0F0F10;
  --font-regular: "Regular";
  --font-light: "Light";
  --font-medium: "Medium";
  --font-black: "Black";
  --font-bold: "Bold";
  --font-classic: "Classic";
  --font-classicBold: "ClassicBold";
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131315;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}